@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Poiret+One&family=Truculenta:opsz,wght@12..72,100..900&family=Unica+One&display=swap');

:root {
    --color : #f7ffff;
    --bg-color : #131316;
    --border-clr : #1c1d21;
    --brdr-clr : #1c1d21;

    --font-logo : "Truculenta", sans-serif;
    --font-body : "Inconsolata", monospace;
    --font-headings : "Poiret One", sans-serif;
    --font-heading :  "Sofia Sans Extra Condensed", sans-serif;
    --font-card : "Unica One", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: var(--color) ;
    background-color: var(--bg-color);
    font-size: 1rem;
    font-family: var(--font-body);
    word-wrap: break-word;
    line-height: 1.5;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: var(--color);
}

main {
    width: 65%;
    min-height: 80vh;
    margin: 20px auto;
}

.header {
    width: 65%;
}

.footer {
    width: 65%;
}

@media screen and (max-width: 992px) {
    main {
        width: 100%;
        padding: 0 20px;
    }

    .header {
        width: 100%;
        padding: 0 10px;
    }

    .footer {
        width: 100%;
        padding: 0 10px;
    }
}