---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div id="main">
        <article>
            <h1>HTML Dashboard</h1>
        </article>
    </div>
</BaseLayout>

<style>
    main {
        height: 100vh;
    }
</style>