---
import HomeLayout from "../layouts/HomeLayout.astro"
import youtube from '../../public/icons/youtube.png'
import github from '../../public/icons/github.png'
import arrow from '../../public/icons/arrows.png'
import notion from '../../public/icons/notion.png'
---

<HomeLayout pagetitle="Forbear">
	<div class="main">
		<div class="content">
			<h1>Forbear</h1>
			<div class="media">
				<li><a href="/"><img src={youtube.src} alt="youtube" width={55}></a></li>
				<li><a href="/"><img src={github.src} alt="github" width={55}></a></li>
				<li><a href="/"><img src={notion.src} alt="notion" width={55}></a></li>
			</div>
			<a href="/home"><img src={arrow.src} alt="arrow"></a>
		</div>
	</div>
</HomeLayout>
