---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const allPost = await getCollection('post');
---

<Layout>
	<h1>Forbear</h1>
	{
		allPost.map(x => (
			<li>
				<a href={`/post/${x.id}`}>{x.data.title}</a>
			</li>
		))
	}
</Layout>
