---

---

<footer>
    <div id="footer">
        <p>&copy; 2025 &#8226; forbear</p>
    </div>
</footer>

<style>
    footer {
        background-color: var(--bg-clr--);
    }

    #footer {
        width: 80%;
        height: 50px;
        margin: 0 auto;

        display: block;
        align-content: center;
        text-align: center;
    }
</style>