---
import icon from '../assets/forbear-icon.png';
---

<header>
    <div id="header">
        <div class="logo-banner">
            <img src={icon.src} alt="forbear-sabr" width={35}>
            <h3>forbear</h3>
        </div>
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
</header>