---

---

<nav>
    <a href="/home"><li>Post</li></a>
</nav>

<style>
    nav {
        list-style: none;
        
        & a {
            letter-spacing: 2px;
            font-size: 1.2em;
        }
    }
</style>