---
import home from '../../public/icons/home.png'
---

<nav>
    <li><a href="/"><img src={home.src} alt="home" width="24"></a></li>
    <li><a href="/home"><p>Feed</p></a></li>
</nav>

<style>
    a , li {
        list-style: none;
        text-decoration: none;
        color: var(--color);
    }
    nav {
        display: flex;
        align-items: baseline;
        font-family: "Unica One", sans-serif;
        font-size: 1.1rem;
        gap: 25px;
    }
</style>