---
import BaseHead from "../components/BaseHead.astro";
import BaseHeader from "../components/BaseHeader.astro";
import BaseSidebar from "../components/BaseSidebar.astro";
import BaseFooter from "../components/BaseFooter.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead title="Forbear" />
</head>
    <body>
        <BaseHeader />
        <div id="wrapper">
            <BaseSidebar />
            <main>
                <slot />
            </main>
        </div>
        <BaseFooter />
    </body>
</html>

