---
import '../styles/styles.css';
import '../styles/markdown.css';
import Header from "../component/Header.astro";
import Footer from "../component/Footer.astro";
import Head from '../component/Head.astro';
const {pagetitle} = Astro.props;
---

<html lang="en">
	<head>
		<Head />
        <!-- Google tag (gtag.js) -->
        <script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-J0HNPGTN0C"></script>
        <script is:inline type="text/partytown">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-J0HNPGTN0C');
        </script>
		<title>{pagetitle}</title>
	</head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<script is:inline type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-J0HNPGTN0C');
</script>
