---
import '../styles/styles.css';
const pageTitle = 'Forbear';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/ForBear.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- Google Adsense -->
		<meta name="google-adsense-account" content="ca-pub-8546995543585264">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8546995543585264"
     crossorigin="anonymous"></script>
		<title>{pageTitle}</title>
	</head>
    <body>
    	<slot />
    </body>
</html>

