---
import '../styles/styles.css';
import Head from '../component/Head.astro';
const pageTitle = 'Forbear';
---

<html lang="en">
	<head>
		<Head />
		<title>{pageTitle}</title>
	</head>
    <body>
    	<slot />
    </body>
</html>
