---
import '../styles/styles.css';
import Head from '../component/Head.astro';
const pageTitle = 'Forbear';
---

<html lang="en">
	<head>
		<Head />
		<!-- Google tag (gtag.js) -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-J0HNPGTN0C"></script>
		<script is:inline type="text/partytown">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-J0HNPGTN0C');
		</script>
		<title>{pageTitle}</title>
	</head>
    <body>
    	<slot />
    </body>
</html>
