---
import '../style/styles.css';
import '../style/markdown.css';
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/forbear-icon.png" />
		<meta name="google-adsense-account" content="ca-pub-1921903558229461">
		<meta name="generator" content={Astro.generator} />
		<title>forbear</title>
	</head>
	<body>
		<Header />
		<div id="wrapper">
			<slot />
		</div>
	</body>
</html>

<script is:inline type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-J0HNPGTN0C"></script>
<script is:inline type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-J0HNPGTN0C');
</script>
<script is:inline type="text/partytown" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1921903558229461"
     crossorigin="anonymous"></script>