---
import '../styles/styles.css';
import '../styles/markdown.css';
import Header from "../component/Header.astro";
import Footer from "../component/Footer.astro";
import Head from '../component/Head.astro';
const { frontmatter } = Astro.props;
---

<html lang="en">
	<head>
		<Head />
		<title>{frontmatter.title}</title>
	</head>
    <body>
        <Header />
        <main>
            <div class="frontmatter">
                <h1>{frontmatter.title}</h1>
            </div>
            <slot />
        </main>
        <Footer />
    </body>
</html>

<style>
    .frontmatter {
        text-align: center;
        text-transform: uppercase;
        padding: 10px;
        line-height: 2;
        font-size: 3rem;
    }
</style>

